<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
  <meta http-equiv="Content-Type" content="application/javascript; charset=UTF-8"/>
  <meta content="utf-8" http-equiv="encoding"/>
  <title>NextFab Classes</title>
  <meta name="description" content="3D printing, CNC machining, water jet,laser cutting and engraving, woodworking, metalworking, sewing, digital embroidery, electronics, 2D printing  and more">
    <link data-require="bootstrap-css@*" data-semver="2.3.2" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script type="text/javascript" language="javascript" data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script type="text/javascript" language="javascript" data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" language="javascript" data-require="bootstrap@2.3.2" data-semver="2.3.2" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
    <!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
  <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="mainController.js"></script>
    
    <link href="style.css" rel="stylesheet" />
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-10541114-6', 'nextfab.com');
  ga('send', 'pageview');
</script>
  </head>
  <body>
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Oswald:400,300:latin', 'Roboto+Condensed:400,300,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>


  <div class="container" ng-app="nfsClassesApp" ng-controller="mainController" ng-init="init()">
  
   <div class="header-container-wrapper">
    <div class="header-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-logo " style="" data-widget-type="logo" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                    <span id="hs_cos_wrapper_logo" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="http://nextfab.com/" id="hs-link-logo" style="border-width:0px;border:0px;"><img src="http://cdn2.hubspot.net/hub/256494/file-30868899-png/images/logo.png" class="hs-image-widget " style="height:80px;width:140px;border-width:0px;border:0px;" width="140" height="80" alt="logo.png" title="logo.png"></a></span>
                </div><!--end layout-widget-wrapper -->
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->
        <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-menu main-top-menu" style="" data-widget-type="menu" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                    <span id="hs_cos_wrapper_top_menu" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_top_menu" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal">
    <ul>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/about">ABOUT</a>
        </li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/locations">LOCATIONS</a>
        </li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/education">EDUCATION</a>
        </li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/membership">MEMBERSHIP</a></a>
        </li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/incubation">INCUBATION</a>
        </li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="http://nextfab.com/contract-work">CONTRACT WORK</a>
        </li>
    </ul>
</div><!-- hs_menu_wrapper --></span>
                </div><!--end layout-widget-wrapper -->
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

        <div class="results-top"></div>
        <div class="results-container">
 <div class="page-heading">
<h1> NextFab Classes</h1>
</div>
     
		<div class="search-box row-fluid form-inline">
			<label>Search: </label>
<input type="text" ng-model="filterText" placeholder="Enter text here"/>


<label>Category: </label>
<select ng-model="categoryFilter" ng-options="label for label in availableCategories">
    <option value="">All</option>
</select>

<label>Location: </label>
<select ng-model="locationFilter" ng-options="label for label in availableLocations">
    <option value="">All</option>
</select>

<label for="publiconly">Only Show Public Classes</label>
<input ng-model="publiconly" id="publiconly" type="checkbox">

<div id="classes_cal"><a href="http://schedule.nextfab.com/schedule/NextFab_Studio/Classes"><h2>2025 Washington Ave Calendar View</a>

<a href="http://schedule.nextfab.com/schedule/NextFab_Studio/Classes_at_1227_N_4th_Street"><h2>1227 N 4th Street Calendar View</h2></a></div>
		</div>
        
            <ul class="classes-list">       
<li ng-repeat="classes in results | filter:{gsx$description.$t:filterText} | isCategory:categoryFilter | isLocation:locationFilter | filterPublicClasses:publiconly">
    <div class="row-fluid">
        <div class="span3">
            <img src= "{{classes.gsx$image.$t}}"/>
        </div>
        <div class="span6">
            <h3>{{classes.gsx$title.$t}}</h3>
            <p>{{classes.gsx$description1.$t}}</p>
            <h4>Available to:</h4>
            <p>{{classes.gsx$available.$t}}</p>
            <h4>Prerequisites:</h4>
            <p>{{classes.gsx$prerequisites.$t}}</p>
            <h4>Machine Access:</h4>
            <p>{{classes.gsx$access.$t}}</p>
        </div>
        <div class="span3">
            <ul class="show-info">
                  <!-- <li><strong>Location:</strong><a href=""><span class="label label-inverse category" ng-repeat="location in classes.location" ng-click="setLocationFilter(classes.gsx$location.$t)"> {{classes.gsx$location.$t}} </span></a></li> -->
                <li><strong>Location:</strong> {{classes.gsx$location.$t}} </li>
                <li><strong>Start:</strong> {{classes.gsx$start.$t}} </li>
                <li><strong>End:</strong> {{classes.gsx$finish.$t}} </li>
                <li><strong>Member Price:</strong> {{classes.gsx$price.$t}} </li>
                <li><strong>Non-Member Price:</strong> {{classes.gsx$nprice.$t}} </li>
                <li><strong>Available Seats:</strong> {{classes.gsx$spots.$t}} </li>
                <li><strong><a href = "{{classes.gsx$url.$t}}">Sign up now</a></strong></li>
                <li><strong>Category:</strong><a href=""><span class="label label-inverse category" ng-repeat="category in classes.category" ng-click="setCategoryFilter(classes.gsx$category.$t)"> {{classes.gsx$category.$t}} </span></a></li>
            </ul>
        </div>
    </div>
</li>
</ul>

        </div>
        <div class="results-bottom"></div>
	</div>
	<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/256494.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
  </body>
</html>
