<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@*" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@2.3.2" data-semver="2.3.2" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
    <!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
  <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="mainController.js"></script>
    
    <link href="style.css" rel="stylesheet" />
	<link href="nfs-homepage-style.css" rel="stylesheet" />
  </head>

  <body>
  
  <body class="a-default a-service-index logged-out">

    
 






	

  <div class="utility-bar">
    <div class="utility-links">
      <span class="corner left"></span>
      <a class="utility-link" href="/classes">Classes</a>
      <span class="divider"></span>
      <a class="utility-link" href="http://blog.nextfabstudio.com" target="_blank">Blog</a>
      <span class="divider"></span>
      <a class="utility-link" href="/current-members">Current Members</a>
      <span class="corner right"></span>
    </div>
  </div>
  <div class="a-wrapper clearfix">
    <div class="a-header clearfix">
                          <a class="logo-link" href="/">
            <div class="logo-main">
              NextFab
            </div>
          </a>

          
          <div class="contact">
            <span>NextFab Studio</span>
            <span>2025 Washington Avenue</span>
            <span>Philadelphia, PA 19146</span>
            <span>+1 (215) 921-3649</span>
          </div>
                    </div>

          
<ul class="a-nav a-nav-main tabs nav-depth-0 clearfix " id="a-nav-main-0">

                  <li class="a-nav-item a-nav-item-0 first" id="a-nav-item-main-9">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/about">About</a>      
              <ul class="a-nav a-nav-main accordion nav-depth-1 clearfix " id="a-nav-main-1-1">

                  <li class="a-nav-item a-nav-item-1 first" id="a-nav-item-main-23">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/events">Events</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 second" id="a-nav-item-main-22">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/news">News</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1" id="a-nav-item-main-16">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/press">Press</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1" id="a-nav-item-main-17">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/faq">FAQ</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 next-last" id="a-nav-item-main-302">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/staff">Staff</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 last" id="a-nav-item-main-42">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/about/contact">Contact</a>      
      
      
    </li>
    
</ul>

      
      
    </li>
                  <li class="a-nav-item a-nav-item-0 second" id="a-nav-item-main-11">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/facility">Facility</a>      
              <ul class="a-nav a-nav-main accordion nav-depth-1 clearfix " id="a-nav-main-1-2">

                  <li class="a-nav-item a-nav-item-1 first" id="a-nav-item-main-58">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/facility/equipment-list">Equipment List</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 second next-last" id="a-nav-item-main-57">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/facility/tours">Tours</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 last" id="a-nav-item-main-56">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/facility/residency">Residency</a>      
      
      
    </li>
    
</ul>

      
      
    </li>
                  <li class="a-nav-item a-nav-item-0" id="a-nav-item-main-12">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/our-work">Our Work</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-0" id="a-nav-item-main-13">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/membership">Membership</a>      
              <ul class="a-nav a-nav-main accordion nav-depth-1 clearfix " id="a-nav-main-1-4">

                  <li class="a-nav-item a-nav-item-1 first last" id="a-nav-item-main-251">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/membership/join-now">Join Now</a>      
      
      
    </li>
    
</ul>

      
      
    </li>
                  <li class="a-nav-item a-nav-item-0 next-last" id="a-nav-item-main-48">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/contract-services">Contract Services</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-0 last" id="a-nav-item-main-15">

              <a class="a-nav-link a-nav-link-0" href="http://nextfabstudio.com/community">Community</a>      
              <ul class="a-nav a-nav-main accordion nav-depth-1 clearfix " id="a-nav-main-1-6">

                  <li class="a-nav-item a-nav-item-1 first next-last" id="a-nav-item-main-294">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/community/partners">Partners</a>      
      
      
    </li>
                  <li class="a-nav-item a-nav-item-1 second last" id="a-nav-item-main-38">

              <a class="a-nav-link a-nav-link-1" href="http://nextfabstudio.com/community/community-projects">Community Projects</a>      
      
      
    </li>
    
</ul>

      
      
    </li>
    
</ul>

  <div class="container" ng-app="nfsClassesApp" ng-controller="mainController" ng-init="init()">
		<div class="search-box row-fluid form-inline">
			<label>Search: </label>
<input type="text" ng-model="filterText" placeholder="Enter text here">


<label>Category: </label>
<select ng-model="categoryFilter" ng-options="label for label in availableCategories">
    <option value="">All</option>
</select>

		</div>
        <div class="results-top"></div>
        <div class="results-container">
        
         
        
            <ul class="classes-list">       
<li ng-repeat="classes in results | filter:{gsx$description.$t:filterText} | isCategory:categoryFilter">
    <div class="row-fluid">
        <div class="span3">
            <img src= "{{classes.gsx$image.$t}}"/>
        </div>
        <div class="span6">
            <h3>{{classes.gsx$title.$t}}</h3>
            <p>{{classes.gsx$description1.$t}}</p>
            <h4>Available to:</h4>
            <p>{{classes.gsx$available.$t}}</p>
            <h4>Prerequisites:</h4>
            <p>{{classes.gsx$prerequisites.$t}}</p>
            <h4>Machine Access:</h4>
            <p>{{classes.gsx$access.$t}}</p>
        </div>
        <div class="span3">
            <ul class="show-info">
                <li><strong>Start:</strong> {{classes.gsx$start.$t}} </li>
                <li><strong>End:</strong> {{classes.gsx$finish.$t}} </li>
                <li><strong>Member Price:</strong> {{classes.gsx$price.$t}} </li>
                <li><strong>Non-Member Price:</strong> {{classes.gsx$nprice.$t}} </li>
                <li><strong>Seats:</strong> {{classes.gsx$spots.$t}} </li>
                <li><strong><a href = "{{classes.gsx$url.$t}}">Sign up now</a></strong></li>
                <li><strong>Category:</strong><span class="label label-inverse category" ng-repeat="category in classes.category" ng-click="setCategoryFilter(category)"> {{classes.gsx$category.$t}} </span></li>
            </ul>
        </div>
    </div>
</li>
</ul>

<p ng-show="(todos | filter:query).length==0">There are no todos for given query</p>
        </div>
        <div class="results-bottom"></div>
	</div>
	
</div>
  </body>

</html>
